$bg-anm-time: 50s;

.main-bg {
    background-size: 1200% 1200%;
    animation: bg-animation $bg-anm-time ease infinite;
}

@keyframes bg-animation {
    0% {
        background-position: 0% 7%;
    }

    50% {
        background-position: 100% 94%;
    }

    100% {
        background-position: 0% 7%;
    }
}